@import url('https://fonts.googleapis.com/css2?family=Liter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Liter", serif;
    letter-spacing: 0.1px;
    background-color: #F5F7FA;
}

.parent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0.5rem 1rem;
}

.side-bar{
    display: none;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    padding: 0.5rem 0.5rem;
}

.top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: .7rem;

}

.top-left {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: .7rem;
}

.menu-container{
    display: none;
}

.menu-container{
    width: fit-content;
    height: auto;
}

.menu-container button{
    border: none;
    outline: none;
}

.sitename-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5rem;
}

.sitename-container h3{
    color: #5E2CA5;
    font-weight: bolder;
    font-size: 1.5rem;
}

.top-links{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.top-links a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 2.5rem;
    color: #5E2CA5;
}

.top-right{
    width: fit-content;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.top-right button{
    padding: .25rem .5rem;
    border-radius: .5rem;
    color: #5E2CA5;
    font-size: 1.1rem;
    font-weight: 600;
}

.signin, .signup{
    width: fit-content;
    height: auto; 
}

.signin button{
    border: none;
    outline: none;
}

.signup button{
    border: 1.8px solid #5E2CA5;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    padding: 0 0.5rem;
}

.texts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.heading{
    width: fit-content;
    height: auto;
}

h1{
    color: #5E2CA5
}

.body{
    width: 95%;
}

p{
    font-size: 1.1rem;
    color: #6A0DAD
}

.start-button-container{
    width: fit-content;
    height: auto;
}

.get-colours{
    padding: .5rem .7rem;
    font-size: .9rem;
    font-weight: 550;
    border-radius: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #6A0DAD;
}

.button-content{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    background-color: #6A0DAD;
}

.button-content p{
    background-color: #6A0DAD;
    color: #F9F9F9;
    font-size: 1rem;
}

fa-arrow-right{
    width: fit-content;
}

.picture{
    width: fit-content;
    height: auto;
}

.picture img{
    width: 700px;
    height: 450px;
    border-radius: .5rem;
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 1.5rem;
    padding: 1rem .25rem 0 .25rem;
    /* border-top: 1px solid black; */
}

.contact-me{
    width: fit-content;
    height: auto;
    margin-left: 7rem;
}

.contact-me h5{
    font-size: 1rem;
    color: #5E2CA5;
}

.contact-icons{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 1.5rem;
}

.CI{
    width: fit-content;
}

.CI a{
    color: #5E2CA5;
}